body{
  font-family: moonBold;
  background: url("img/background.jpg") no-repeat center fixed;    
}
@font-face {
  font-family: moonBold;
  src: url('fonts/moon/Moon\ Bold.otf');
}
@font-face {
  font-family: moonlight;
  src: url('fonts/moon/Moon\ Light.otf');
}
#quiz-container{
    background-color: #D17385;
    padding:30px;
    margin:5%;
    padding:70px;
    border-radius: 20px;
    
}
#question-container{
  margin: auto;
  width: 100%;
  border: 3px solid white;
  border-radius: 160px;
  padding: 10px;
  
    
}
h1{
  margin: auto;
  width: 50%;
  color:#144565
}
#buttons-container{

 
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  width: 100%;
  display: flex;

  
  
}
input[type=button]{
 
  background-color: transparent;
  border: 3px solid white;
  text-align: center;
  align-content: center;
  margin: 5px;
  min-width: 160px;
  min-height: 70px;
  color:#144565;
  font-family: moonlight;
  font-size: larger;
  
}
/* //Oswald and OutRun */